Highlight peers in Local Area Network and in close IP space proximity

It would be awesome if WebUI highlighted peers that are close to you. Finding peer that is close is something that shows adaption of IPFS what is its aim.

As IP is prefix allocated (apart from cjdns) we can create following rules:
- `peerIP4 ∈ 10.0.0.0/8` - private network (RFC 1918)
- `peerIP4 ∈ 172.16.0.0/12` - private network (RFC 1918)
- `peerIP4 ∈ 192.168.0.0/16` - private network (RFC 1918)
- `peerIP4 ∈ 169.254.0.0/16` - link local (RFC 3927)
- `peerIP6 ∈ fd00::/8` - unique local address (RFC 4193)
- `peerIP6 ∈ fe80::/10` - link local (RFC 4291)
- `peerIP6 ∈ myIP6/64` - smallest end site (RFC 6177)

Also worth considering, maybe with different accent:
- `peerIP4 ∈ myIP4/24` - 255 closest users according to spatial allocation
- `peerIP6 ∈ myIP6/48` - most end sites will be allocated this prefix

where `peerIP6 ∉ fc00::/8` to fix case of cjdns where IPs are not spatial allocated.


This would be very cool. Related work is to add tool-tips to on hover on the peers map in #819 

We've done it! it was released a long time ago, but here it is: #1266